<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.centromedico">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".ReservaPaso2Activity"></activity>
        <activity android:name=".ReservaPaso1Activity" />
        <!--
         <activity android:name=".ContactoListActivity"></activity>
         REMPLAZAR POR:
         <activity android:name=".CentroMedicoActivity">
        -->
        <activity android:name=".detalleespecialidadActivity" />
        <activity android:name=".CentroMedicoActivity" />
        <activity android:name=".elegirhoraActivity" />
        <activity android:name=".elegirfechaActivity" />
        <activity android:name=".PasswordRecoveryActivity" />
        <activity android:name=".SingUpActivity" />
        <activity android:name=".ContactoListActivity" />
        <activity android:name=".PruebaActivity" />

        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".SingInActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>